.ripple-button {
    position: relative;
    overflow: hidden;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .ripple-button::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.7);
    opacity: 0;
    pointer-events: none;
    animation: rippleEffect 0.5s linear;
  }
  
  @keyframes rippleEffect {
    0% {
      opacity: 1;
      width: 0;
      height: 0;
    }
    100% {
      opacity: 0;
      width: 200px;
      height: 200px;
    }
  }
  
  /* ------------------------ Grid card CSS starts here ----------------------- */
  
.product-grid{
  font-family:'Raleway', sans-serif;
  text-align: center;
  transition: all 0.4s ease 0s;
}
.product-grid:hover{ box-shadow: 0 0 21px 0 rgba(39,39,39,.15); }
.product-grid .product-image{
  border: 1px solid #eee;
  box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.05);
  overflow: hidden;
  position: relative;
}
.product-grid .product-image a.image{ display: block; }
.product-grid .product-image img{ width: 100%; }
.product-grid .product-sale-label{
  color: #fff;
  background: #538167;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 5px 10px 5px 30px;
  position: absolute;
  right: 0;
  top: 0;
  transition: all 0.3s;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 30% 100%);
}
.product-grid .product-content{
  background: #fff;
  padding: 15px;
}
.product-grid .title{
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0 0 7px;
}
.product-grid .title a{
  color: #333;
  transition: all 0.3s ease 0s;
}