@tailwind base;
@tailwind components;
@tailwind utilities;

  :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

.txt-gradient{
  font-size: 72px;
  background: linear-gradient(to bottom right,#005eff,#2f79f6, #5aff9c,#2f79f6, #005eff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.txt-outline{
  -webkit-text-stroke: 0.8px black;
}

.font-poppins{
  font-family: 'Poppins', sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
nav{
  /* background: #c2e59c;   */
/* background: -webkit-linear-gradient(to right, #64b3f4, #c2e59c);  */
/* background: linear-gradient(to right, #64b3f4, #c2e59c); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.newmorph{
  background: rgba( 255, 255, 255, 0.8 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.demo{
  /* background:#55a9ed; */
}
.testimonial{
  margin: 0 10px 75px;
  position: relative;
}
.testimonial .description{
  padding: 20px;
  /* background-color: rgba(255, 255, 255, 0.7); */
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  font-size: 24px;
  font-style: italic;
  /* color: #000; */
  margin-bottom: 0;
}
.testimonial .testimonial-content{
  padding: 10px 15px;
  /* background: #fff; */
  position: absolute;
  bottom: -75px;
  right: 20px;
}
.testimonial .pic{
  width: 70px;
  height: 70px;
  border-radius: 50%;
  overflow: hidden;
  float: left;
  margin-right: 10px;
}
.testimonial .pic img{
  width: 100%;
  height: auto;
}
.testimonial-content .testimonial-title{
  font-size: 16px;
  font-weight: 600;
  /* margin: 15px 0 0 0; */
  display: inline-block;
}
.testimonial-content .testimonial-title small{
  display: block;
  font-size: 12px;
  font-style: italic;
  margin-top: 10px;
}
.owl-theme .owl-controls{
  text-align: right;
  margin-top: 20px;
}
.owl-theme .owl-controls .owl-buttons div{
  background: #a2a2a2;
  border-radius: 0;
  opacity: 1;
  padding: 5px 10px;
}
.owl-prev:before,
.owl-next:before{
  content: "\f053";
  font-family: "Font Awesome 5 Free"; font-weight: 900;
  color: #fff;
}
.owl-next:before{
  content: "\f054";
}
@media only screen and (max-width: 480px){
  .testimonial{
      text-align: center;
      margin-bottom: 0;
  }
  .testimonial .testimonial-content{
      position: relative;
      right: 0;
      bottom: 0;
  }
}